.tabs {
    display: flex;
    justify-content: flex-start;
    background-color: $ygray;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 60px;
        border-right: 2px solid #fff;

        color: $text-color;
        text: {
            decoration: none;
            transform: uppercase;
        }
        font: {
            size: 21px;
        }

        &.active {
            color: $green;
            background-color: #FFF;
        }

        &:hover {
            color: $green;
        }

    }
}

@media screen and (max-width: 767px) {
    .tabs {
        flex-direction: column;

        &__link {
            width: 100%;
            border-right: 0px;

            font-size: 14px;

            &:hover,
            &.active {
                background-color: white;
            }

            &:not(:last-child) {
                border-bottom: 2px solid #fff;
            }
        }
    }
}

