.bg-scroll-parallax
    .bg-scroll-parallax__container
        each i in [10,9,8,7,6,5,4,3,2,1]
            .bg-scroll-parallax__layer
                img(src=`/images/parallax/l${i}.png`, alt="").bg-scroll-parallax__img

    .bg-scroll-parallax__content
