section.footer
    .footer__top
        .footer__nav
            a(href="").footer__link Мои работы
            a(href="").footer__link Обо мне
            a(href="").footer__link Блог
            a(href="").footer__link Авторизация
        .socials.footer__socials
            a(href="").socials__item
                img(src="/images/icons/vk_round.svg", alt="").socials__img
            a(href="").socials__item
                img(src="/images/icons/github_round.svg", alt="").socials__img
            a(href="").socials__item
                img(src="/images/icons/in_round.svg", alt="").socials__img

    .footer__bottom
        .footer__text
            | Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках
            br
            | обучения в Школе онлайн образования LoftSchool.
        .footer__text
            | © Владимир Астахов | создано с любовью в LoftSchool | 2016
