.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 30px;
    background-color: $green;
    color: #fff;

    &__title {
        font: {
            size: 28px;
        }
    }

    &__link {
        color: rgba(white, .7);
        font: {
            size: 14px;
            weight: 300;
        }

        &:hover {
            text-decoration: none;
        }

    }
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;

        &__title {
            font-size: 21px;
            text-align: center;
        }

        &__link {
            margin-bottom: 10px;
        }
    }
}
