extends ./components/layout

block variables
    - var scrollParallax = true;

block page-title
    | #{title}

block page

    include ./components/top-section
    +topSection('works')

    section.works-title
        .title.title--super.works-title__title.title--super-works
            span Мои работы

    - var works = ['Anna', 'Maria', 'Eroda', 'Kristina', 'Mayora', 'Desna'];
    include ./components/works-slider
    +worksSlider(works)

    section.works-gossip
        .title.title--super.works-gossip__title
            span Что обо мне говорят


