.blur-bg {
    background: {
        image: none !important;
        color: rgba(0,0,0,0) !important;
    }

    position: relative;

    & > * {
        z-index: 20;
        position: relative;
    }

    &::before {
        content: '';
        background-image: url("/images/works-gossip-bg.png");
        background-position: center calc(50% - 212px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;

        filter: blur(5px);
    }

    &::after {
        content: '';
        background-image: url("/images/filter-bg.png");
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: .3;
    }
}
