.content {
    position: relative;

    display: flex;

    &__left {
        width: 50%;
        background-color: $bg1;
    }

    &__right {
        width: 50%;
        background-color: $bg2;
    }
}

@media screen and (max-width: 1199px) {
    .content {
        flex-direction: column;

        &__left,
        &__right {
            width: 100%;
        }
    }
}
