.footer {
    background-color: $footer-bg;
    opacity: 0.85;

    &__top, &__bottom {
        height: 75px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__top {
        border-bottom: 1px solid rgba($white, 0.1);
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__socials {
        .socials__img {
            width: 36px;
            height: 36px;
        }
    }

    &__link {
        margin-right: 40px;

        color: $white;
        text-decoration: none;
        font: {
            size: 16px;
            weight: 300;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        color: rgba($white, .5);
        font: {
            size: 16px;
            weight: 300;
        }
        line-height: 1.5;
    }
}

@media screen and (min-width: 1199px) {
    .footer {
        &--on {
            margin-top: -150px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .footer {
        &__top, &__bottom {
            flex-direction: column;
            padding: 20px 35px;
            height: auto;
        }

        &__nav {
            margin-bottom: 20px;
        }

        &__bottom {
            text-align: center;

            .footer__text:first-child {
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__top {
            padding: 20px 10px;
        }
        &__link {
            font-size: 13px;
            margin-right: 5px;
            margin-left: 5px;
        }
        &__text {
            font-size: 13px;
        }
    }
}
