.skills {

    &.clear .circle__second {
        stroke-dasharray: 0 307.87582 !important;
    }

    &__title {
        color: $text-color;
        font: {
            size: 28px;
            weight: 500;
        }

        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
        margin: 0 40px 40px 0;
    }
}

@media screen and (max-width: 1199px) {
    .skills {
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 0 19px 40px 19px;
        }
    }
}

@media screen and (max-width: 767px) {
    .skills {
        text-align: center;

        &__title {
            font-size: 22px;
        }

        &__item {
            margin: 0 10px 40px 10px;
        }
    }
}
