.utility-block {
    padding: 30px 40px;

    &__title {
        margin-bottom: 40px;
    }

    &__simple-text {
        margin-bottom: 56px;
    }
}


@media screen and (max-width: 1199px) {
    .utility-block {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .utility-block {
        padding: 50px 10px;
        text-align: left;
    }
}
