.works-gossip {
    background: {
        image: url('/images/works-gossip-bg.png');
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
    padding: 70px 0 155px;

    &__title {
        margin-bottom: 68px;
    }

    &__form {
        margin: 0 auto;
    }

}
