.works-gossip {
    background: {
        image: url('/images/works-gossip-bg.png');
        position: center bottom;
        repeat: no-repeat;
        size: cover;
    }
    padding: 70px 0 155px;

}
