.works-slider {
    $h1: 750px;
    $h2: 525px;
    $h3: 225px;
    $p1: 90px;
    $p2: 75px;
    $p3: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: $h1;

    &__link-block {
        width: 50%;
        height: $h1;

        padding: $p1;
        background-color: $bg3;
    }

    &__img-block {
        width: 50%;
        height: $h2;

        padding: 0 $p2;
        background-color: $bg4;
    }

    &__nav-block {
        width: 50%;
        height: $h3;

        background-color: $bg4;

        display: flex;
        align-items: stretch;

        position: relative;
    }

    &__nav-slider {
        width: 50%;
        z-index: 10;

        padding: 0 $p3;
    }

    &__btns {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        width: 100%;
        height: 100%;

        display: flex;

        & > div {
            width: 50%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            svg {
                fill: white;
                opacity: .9;
                width: 43px;
                height: 27px;

                transition: all 0.25s;
            }

            &:hover {
                svg {
                   opacity: 1;
                }
            }

        }
    }

    &__btn-prev {
        background-color: rgba(182, 180, 174, 0.7);
        &:hover {
            svg {
                transform: translateY(10px);
            }
        }
    }
    &__btn-next {
        background-color: rgba(136, 131, 114, 0.5);
        &:hover {
            svg {
                transform: translateY(-10px);
            }
        }
    }

    &__desc-slide {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img-slide {
        width: 100%;
        height: 100%;
        background: {
            size: contain;
            repeat: no-repeat;
            position: center center;
        }

        &--img-block {
            height: $h2 !important;
        }
        &--nav-block {
            height: $h3 !important;
        }
    }

    &__title {
        padding: 0 43px;
        margin-bottom: 35px;
    }

    &__desc {
        margin-bottom: 39px;
    }
}

@media screen and (max-width: 1199px) {
    .works-slider {
        flex-wrap: nowrap;
        height: auto;

        &__link-block,
        &__img-block,
        &__nav-block {
            width: 100%;
            height: auto;
        }

        &__link-block {
            order: 2;
        }
        &__img-bloc {
            order: 1;
        }
        &__nav-block {
            order: 3;
        }
    }
}

@media screen and (max-width: 767px) {
    .works-slider {
        &__img-block {
            padding: 24px;
        }

        &__img-slide {
            &--img-block {
                height: 250px !important;
            }
            &--nav-block {
                height: 93px !important;
            }
        }

        &__link-block {
            padding: 30px 0;
        }

        &__title {
            font-size: 21px;
            padding: 0 63px;

            span {
                &::before,
                &::after {
                    top: 8.5px;
                }
            }
        }

        &__desc-slide {
            justify-content: space-between;
        }

        &__nav-block {
            height: 93px;
        }


    }
}
