$white: #fff;
$green: #10c1a8;
$green-hover: #009688;
$green2: #dee3e7;

$text-color: #455a64;
$title-color: #373e42;

$bg1: #efeee9;
$bg2: #eeebdf;
$footer-bg: #373e42;
$blog-bg: #fff;
$works-bg: #faf8f0;
$icon-bg: #f0efe9;

$icon-color: #c4cbcd;
